{
  "presets" : ["es2015"],
  "plugins": [
    ["module-alias", [
      { "src": "./src/model", "expose": "model" },
      { "src": "./src/util", "expose": "util" },
      { "src": "./test/testdata", "expose": "testdata" }
    ]]
  ]
}
